
<div>

  <h1>
Name: <%= @token.name %>
</h1>


</div>

<h3>

<th>
<div>

Symbol: <%= @token.symbol %>

</div>

<div>

Address: <%= @token.address %>

</div>

<div>

Price: <%= @token.price %> $ USA

</div>

<div>

Market Capitalization: <%= @token.capitalization %> $ USA

</div>


<div>

Total Supply: <%= @token.totalSupply %>

</div>

<div>

Available Supply: <%= @token.availableSupply %>

</div>



</h3>


<div>
Description: <%= @token.description %>
</div>
